streamlit
mtcnn
#mtcnn==0.1.1   # menggunakan versi yang stabil
#mtcnn_cv2
opencv-python
opencv-python-headless
pillow
numpy
pandas
matplotlib
scikit-learn
setuptools
tensorflow
mediapipe
torch
torchvision
transforms
